<% content_for :application do %>
<h1>Server Monitor</h1>
<a href="#">http://domain/servermonitor/server?server={server name}&app={app name}</a>
<h1>System Server Monitor</h1>
<a href="#">http://domain/servermonitor/tracking_log?server={server name}&app={app name}</a>
<% end %>