<!DOCTYPE html>
<html>
<head>
	<title>MonitorSite</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery-1.11.3.min', 'data-turbolinks-track' => true %>
	<!-- Style CSS -->
	<link href="/metro-vibes-css/css/bootstrap.css" media="screen" rel="stylesheet">
	<link href="/metro-vibes-css/style.css" media="screen" rel="stylesheet">
	<%= csrf_meta_tags %>
</head>
<body>

<div class="container container-wide">
	<!-- Website Menu -->
	<div id="topmenu">
	    <ul class="dropdown clearfix boxed">
	        <li class="menu-level-0"><a href="/server"><i class="icon-menu icon-menu2"></i><span>HOME</span></a></li>
	        <!--<li class="menu-level-0"><a href="#"><i class="icon-menu icon-menu2"></i><span>events</span></a> </li>-->
	        
	        <li class="menu-level-0"><a href="#"><i class="icon-menu icon-menu4"></i><span>settings</span><!--<sup class="note">3</sup>--></a>
	            <ul class="submenu-1">
	                <li class="menu-level-1"><a href="#">ESB Server</a>
		                <ul class="submenu-2">
		                	<li class="menu-level-2"><a href="/server">ESB Servers</a></li>
		                	<li class="menu-level-2"><a href="/server/new">New ESB Server</a></li>
	                	</ul>
	                </li>

	                <li class="menu-level-1"><a href="#">Services</a>
		                <ul class="submenu-2">
		                	<li class="menu-level-2"><a href="/service">All service</a></li>
		                	<li class="menu-level-2"><a href="/service/new">Regist service</a></li>
	                	</ul>
	                </li>
	                <li class="menu-level-1"><a href="#">Subscription</a>
		                <ul class="submenu-2">
		                	<li class="menu-level-2"><a href="/subscription_info">Subscription list</a></li>
	                	</ul>
	                </li>
	            </ul>
	        </li>
	        
	        <!--<li class="menu-level-0"><a href="#"><i class="icon-menu icon-menu4"></i><span>settings</span></a></li>-->
	    </ul>
	</div>
	<!-- content -->
	<div  role="main">
	<%= yield :application %>
	</div>
</div>

</body>
</html>
